#                                ASSIGNMENT-4 WEB SCRAPPING

Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [46]:
#importing necessary liberaries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import re
import time
from selenium.webdriver.support.ui import WebDriverWait
#from selenium.webdriver.support.ui import ElementClickInterceptedException as EC

In [3]:
# initializing chrome browser 
driver=webdriver.Chrome()

In [4]:
# directing to the website
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [75]:
#scrapping the video title from the website
video_title=[]
video_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for i in video_tags:
    a=i.text
    video_title.append(a)

In [79]:
#printing video titles
video_title

['"Baby Shark Dance"[7]',
 '"Despacito"[10]',
 '"See You Again"[20]',
 '"Gangnam Style"⁂[31]',
 '"Baby"*[69]',
 '"Bad Romance"[73]',
 '"Charlie Bit My Finger"[77]',
 '"Evolution of Dance"[79]',
 '"Girlfriend"‡[81][82]',
 '"Evolution of Dance"[79]',
 '"Music Is My Hot Hot Sex"‡[87]',
 '"Evolution of Dance"*[79]',
 '"Pokémon Theme Music Video"‡[92]',
 '"Myspace – The Movie"‡[97][98]',
 '"Phony Photo Booth"‡[101]',
 '"The Chronic of Narnia Rap"‡[107]',
 '"Ronaldinho: Touch of Gold"‡*[110]',
 '"I/O Brush"‡*[116]']

In [ ]:
#the titles are not in proper appeariance

In [87]:
# making titles in proper apperaniance using regular expression 
video_titles=[]
match_pattern=re.compile(r'"(.*?)"')
for i in video_title:
    y=match_pattern.findall(i)
    video_titles.extend(y)

In [88]:
# printing the updated video titles
video_titles

['Baby Shark Dance',
 'Despacito',
 'See You Again',
 'Gangnam Style',
 'Baby',
 'Bad Romance',
 'Charlie Bit My Finger',
 'Evolution of Dance',
 'Girlfriend',
 'Evolution of Dance',
 'Music Is My Hot Hot Sex',
 'Evolution of Dance',
 'Pokémon Theme Music Video',
 'Myspace – The Movie',
 'Phony Photo Booth',
 'The Chronic of Narnia Rap',
 'Ronaldinho: Touch of Gold',
 'I/O Brush']

In [89]:
#scrapping the artist details
artist=[]
artist_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for i in artist_tags:
    z=i.text
    artist.append(z)

In [92]:
#printing artist data
(artist)

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 'Wiz Khalifa',
 'Psy',
 'Justin Bieber',
 'Lady Gaga',
 'HDCYT',
 'Judson Laipply',
 'RCA Records',
 'Judson Laipply',
 'CLARUSBARTEL72',
 'Judson Laipply',
 'Smosh',
 'eggtea',
 'mugenized',
 'youtubedude',
 'Nikesoccer',
 'larfus']

In [93]:
# scrapping views from the wikitable
views=[]
views_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for i in views_tags:
    a=i.text
    views.append(a)

In [94]:
views

['7,046,700,000',
 '2,993,700,000',
 '2,894,000,000',
 '803,700,000',
 '245,400,000',
 '178,400,000',
 '128,900,000',
 '118,900,000',
 '92,600,000',
 '78,400,000',
 '76,600,000',
 '10,600,000',
 '4,300,000',
 '2,700,000',
 '3,400,000',
 '2,300,000',
 '255,000',
 '247,000']

In [96]:
#scrapping the date of video uploads
uploading_dates=[]
date_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for i in date_tags:
    b=i.text
    uploading_dates.append(b)

In [97]:
uploading_dates

['June 17, 2016',
 'January 12, 2017',
 'April 6, 2015',
 'July 15, 2012',
 'February 19, 2010',
 'November 24, 2009',
 'May 22, 2007',
 'April 6, 2006',
 'February 27, 2007',
 'April 6, 2006',
 'April 9, 2007',
 'April 6, 2006',
 'November 28, 2005',
 'January 31, 2006',
 'December 1, 2005',
 'December 18, 2005',
 'October 21, 2005',
 'October 5, 2005']

In [98]:
#rank
rank=[]
for i in range(1,19):
    rank.append(i)

In [99]:
rank

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [100]:
#creating dictionary
table_dict={'Rank':rank,'Video_name':video_titles,'Artist':artist,'Upload_date':uploading_dates,'Views':views}

In [101]:
# converting into dataframe
DF_1=pd.DataFrame.from_dict(table_dict)

In [103]:
# printing the first 5 attributes of dataframe
DF_1.head(5)

,Rank,Video_name,Artist,Upload_date,Views
0,1,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016","7,046,700,000"
1,2,Despacito,Luis Fonsi,"January 12, 2017","2,993,700,000"
2,3,See You Again,Wiz Khalifa,"April 6, 2015","2,894,000,000"
3,4,Gangnam Style,Psy,"July 15, 2012","803,700,000"
4,5,Baby,Justin Bieber,"February 19, 2010","245,400,000"

In [104]:
# closing the web page
driver.quit()

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [109]:
#initializing web browser
driver=webdriver.Chrome()
driver.maximize_window()

In [110]:
#directing to the web page
driver.get(' https://www.bcci.tv/')

In [113]:
# pointing and clicking on the fixture and results
international_fixture=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
international_fixture.click()

In [114]:
#scrapping series data
series=[]
series_tags=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series_tags:
    a=i.text
    series.append(a)

In [115]:
series

['ICC Mens T20 World Cup 2024',
 'ICC Mens T20 World Cup 2024',
 'South Africa Women Tour Of India Warm Up Match 2024',
 'ICC Mens T20 World Cup 2024',
 'South Africa Women Tour Of India Odi Series 2024']

In [116]:
#scrapping place
place=[]
place_tags=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in place_tags:
    b=i.text
    place.append(b)

In [117]:
place

['Nassau County International Cricket Stadium,',
 'Nassau County International Cricket Stadium,',
 'M Chinnaswamy Stadium,',
 'Central Broward Park & Broward County Stadium, Lauderhill,',
 'M Chinnaswamy Stadium,']

In [118]:
#scrapping dates
dates=[]
date_tags=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date_tags:
    c=i.text
    dates.append(c)

In [119]:
dates

['9 Jun', '12 Jun', '13 Jun', '15 Jun', '16 Jun']

In [120]:
#scrapping time
time=[]
time_tags=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time_tags:
    d=i.text
    time.append(d)

In [121]:
time

['20:00 IST', '20:00 IST', '13:30 IST', '20:00 IST', '13:30 IST']

In [124]:
#making dictionary
fixture_dict={'Series':series,'Place':place,'Date':dates,'Time':time}

In [125]:
#converting dict into dataframe
DF_2=pd.DataFrame.from_dict(fixture_dict)

In [126]:
#printing the dataframe
DF_2

,Series,Place,Date,Time
0,ICC Mens T20 World Cup 2024,"Nassau County International Cricket Stadium,",9 Jun,20:00 IST
1,ICC Mens T20 World Cup 2024,"Nassau County International Cricket Stadium,",12 Jun,20:00 IST
2,South Africa Women Tour Of India Warm Up Match...,"M Chinnaswamy Stadium,",13 Jun,13:30 IST
3,ICC Mens T20 World Cup 2024,"Central Broward Park & Broward County Stadium,...",15 Jun,20:00 IST
4,South Africa Women Tour Of India Odi Series 2024,"M Chinnaswamy Stadium,",16 Jun,13:30 IST

In [127]:
#closing the webpage
driver.quit()

3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [146]:
# Initializing the web page
driver=webdriver.Chrome()
driver.maximize_window()

In [147]:
#directing to the website
driver.get(' http://statisticstimes.com/')

In [150]:
#clicking on the dropdown
economy_dropdown=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy_dropdown.click()

In [151]:
#selecting the indian economy
indian_economy=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
indian_economy.click()

In [152]:
#clicking on required gdp field
gdp_ind_state=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp_ind_state.click()

In [139]:
#collecting the state data
states=[]
states_tags=driver.find_elements(By.XPATH,'//a[@class="ec"]')
for i in states_tags:
    a=i.text
    states.append(a)

In [141]:
states_1=states[20:]

In [142]:
states_1

['» Economy of A & N Islands',
 '» Economy of Andhra Pradesh',
 '» Economy of Arunachal Pradesh',
 '» Economy of Assam',
 '» Economy of Bihar',
 '» Economy of Chandigarh',
 '» Economy of Chhattisgarh',
 '» Economy of Delhi',
 '» Economy of Goa',
 '» Economy of Gujarat',
 '» Economy of Haryana',
 '» Economy of Himachal Pradesh',
 '» Economy of Jammu & Kashmir',
 '» Economy of Jharkhand',
 '» Economy of Karnataka',
 '» Economy of Kerala',
 '» Economy of Madhya Pradesh',
 '» Economy of Maharashtra',
 '» Economy of Manipur',
 '» Economy of Meghalaya',
 '» Economy of Mizoram',
 '» Economy of Nagaland',
 '» Economy of Odisha',
 '» Economy of Puducherry',
 '» Economy of Punjab',
 '» Economy of Rajasthan',
 '» Economy of Sikkim',
 '» Economy of Tamil Nadu',
 '» Economy of Telangana',
 '» Economy of Tripura',
 '» Economy of Uttar Pradesh',
 '» Economy of Uttarakhand',
 '» Economy of West Bengal']

In [143]:
# updating the appeariance of the alphabetical order wise state data
indian_states=[]
match_pattern=re.compile(r'Economy of ([^,]+)')
for i in states_1:
    b=match_pattern.findall(i)
    indian_states.extend(b)

In [144]:
indian_states

['A & N Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu & Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [153]:
#collecting the data of rank
rank=[]
rank_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]')
for i in rank_tags:
    a=i.text
    rank.append(a)

In [157]:
rank=rank[:33]

In [159]:
#collecting the  rank wise state data
states=[]
state_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]')
for i in state_tags:
    b=i.text
    states.append(b)

In [162]:
states=states[:33]

In [163]:
states

['Maharashtra',
 'Tamil Nadu',
 'Karnataka',
 'Uttar Pradesh',
 'Gujarat',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Odisha',
 'Bihar',
 'Punjab',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Arunachal Pradesh',
 'Nagaland',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [167]:
#collecting the data of GDSP 23/24
GSDP_1=[]
GSDP_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]')
for i in GSDP_tags:
    c=i.text
    (GSDP_1).append(c)

In [169]:
GSDP_1=GSDP_1[:33]

In [170]:
GSDP_1

['-',
 '2,700,109',
 '2,500,733',
 '2,547,861',
 '-',
 '1,700,939',
 '1,524,030',
 '1,439,674',
 '1,463,960',
 '1,363,327',
 '-',
 '1,107,746',
 '1,095,535',
 '832,790',
 '-',
 '736,423',
 '565,401',
 '505,887',
 '-',
 '346,206',
 '246,465',
 '207,430',
 '-',
 '-',
 '-',
 '-',
 '47,381',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-']

In [185]:
#collecting the data for GSDP 22/23
x=[]
x_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]')
for i in x_tags:
    f=i.text
    x.append(f)

In [187]:
GSDP_2=x[:33]

In [189]:
GSDP_2

['-',
 '2,364,514',
 '2,269,995',
 '2,258,040',
 '2,230,609',
 '1,531,758',
 '1,365,849',
 '1,303,524',
 '1,308,034',
 '1,246,471',
 '1,046,188',
 '1,014,688',
 '984,055',
 '753,177',
 '751,396',
 '676,164',
 '493,167',
 '464,399',
 '393,722',
 '303,781',
 '224,226',
 '191,728',
 '93,672',
 '72,636',
 '54,285',
 '49,643',
 '42,697',
 '42,756',
 '-',
 '39,630',
 '35,643',
 '-',
 '-']

In [190]:
#collecting the data for total share
share=[]
share_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]')
for i in share_tags:
    g=i.text
    share.append(g)

In [192]:
share=share[:33]

In [193]:
#collecting the data for gdp
gdp=[]
gdp_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[7]')
for i in gdp_tags:
    o=i.text
    gdp.append(o)

In [196]:
gdp=gdp[:33]

In [198]:
len(gdp)

33

In [202]:
economy_dict={'Rank':rank,'STATE':states,'GSDP_23/24':GSDP_1,'GSDP_22/24':GSDP_2,'SHARE':share,'GDP_Billion_doller':gdp}

In [203]:
DF_3=pd.DataFrame.from_dict(economy_dict)

In [205]:
#printing the first 10 attributes of dataset
DF_3.head(10)

  Rank           STATE GSDP_23/24 GSDP_22/24   SHARE GDP_Billion_doller
0    1     Maharashtra          -          -  13.17%            414.928
1    2      Tamil Nadu  2,700,109  2,364,514   8.78%            276.522
2    3       Karnataka  2,500,733  2,269,995   8.38%            264.080
3    4   Uttar Pradesh  2,547,861  2,258,040   8.37%            263.747
4    5         Gujarat          -  2,230,609   8.17%            257.484
5    6     West Bengal  1,700,939  1,531,758   5.63%            177.456
6    7       Rajasthan  1,524,030  1,365,849   5.06%            159.334
7    8  Andhra Pradesh  1,439,674  1,303,524   4.87%            153.324
8    9       Telangana  1,463,960  1,308,034   4.76%            150.084
9   10  Madhya Pradesh  1,363,327  1,246,471   4.63%            145.913

In [206]:
#closing the browser
driver.quit()

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [207]:
#Initializing the driver
driver=webdriver.Chrome()
driver.maximize_window()

In [209]:
#directing to the link
driver.get(' https://github.com/ ')

In [221]:
#collecting the data for repository
repository_title=[]
repository_tags=driver.find_elements(By.XPATH,'//a[@class="Link"]')
for i in repository_tags:
    a=i.text
    repository_title.append(a)

In [223]:
len(repository_title)

18

In [224]:
#collecting the data for description
description=[]
desc_tags=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in desc_tags:
    b=i.text
    description.append(b)

In [226]:
len(description)

18

In [227]:
#collecting the data for languages
language=[]
language_tags=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in language_tags:
    c=i.text
    language.append(c)

In [229]:
len(language)

17

In [244]:
# since the language in one of the row is missing, so we are calculating the mode of the language column so that we can fill the data with mode value
lang=[]
mode=[]

for i in language:
    count=0
    for j in language:
        if j==i:
            count=count+1
        else:
            pass
    mode.append(count)
    lang.append(i)

In [245]:
# here we are printin the number of times each value of language column is repeating and we found that the Typescript is repeating several time so we can fill the empty data with TypeScript at that position
mode_language={}
print(lang)
print(mode)

['PHP', 'TypeScript', 'Lua', 'Dart', 'C', 'Swift', 'Cuda', 'Go', 'C', 'Go', 'JavaScript', 'Svelte', 'Python', 'Java', 'TypeScript', 'Haxe', 'C++']
[1, 2, 1, 1, 2, 1, 1, 2, 2, 2, 1, 1, 1, 1, 2, 1, 1]

In [246]:
# updating the language at the 13 index position
language.insert(13,'TypeScript')

In [247]:
len(language)

18

In [236]:
#contributers data collection
contributers_count=[]
c_count=driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"]')
for i in c_count:
    d=i.text
    contributers_count.append(d)

In [239]:
contributers_count=contributers_count[1::2]

In [248]:
github_dict={'Repository Title':repository_title,'Repository Description':description,'Contributers count':contributers_count,'Language used':language}

In [249]:
DF_4=pd.DataFrame(github_dict)

In [250]:
#printing the required dataframe
DF_4

,Repository Title,Repository Description,Contributers count,Language used
0,coollabsio / coolify,An open-source & self-hostable Heroku / Netlif...,"1,025",PHP
1,idootop / mi-gpt,🏠 将小爱音箱接入 ChatGPT 和豆包，改造成你的专属语音助手。,226,TypeScript
2,LazyVim / LazyVim,Neovim config for the lazy,949,Lua
3,hiddify / hiddify-next,"Multi-platform auto-proxy client, supporting S...","1,044",Dart
4,ventoy / Ventoy,A new bootable USB solution.,"3,901",C
5,jordanbaird / Ice,Powerful menu bar manager for macOS,162,Swift
6,nerfstudio-project / gsplat,CUDA accelerated rasterization of gaussian spl...,101,Cuda
7,JanDeDobbeleer / oh-my-posh,The most customisable and low-latency cross pl...,"2,246",Go
8,libretro / RetroArch,"Cross-platform, sophisticated frontend for the...","1,756",C
9,alist-org / alist,🗂️A file list/WebDAV program that supports mul...,"5,005",Go
10,xenova / transformers.js,State-of-the-art Machine Learning for the web....,464,JavaScript
11,hcengineering / platform,Huly — All-in-One Project Management Platform ...,369,Svelte
12,blakeblackshear / frigate,NVR with realtime local object detection for I...,"1,446",Python
13,KenneyNL / Adobe-Alternatives,A list of alternatives for Adobe software,136,TypeScript
14,termux / termux-app,Termux - a terminal emulator application for A...,"3,404",Java
15,jackyzha0 / quartz,"🌱 a fast, batteries-included static-site gener...","2,328",TypeScript
16,FunkinCrew / Funkin,A rhythm game made with HaxeFlixel,"2,202",Haxe
17,MaaAssistantArknights / MaaAssistantArknights,《明日方舟》小助手，全日常一键长草！| A one-click tool for the d...,"1,627",C++

Scrape the details of top 100 songs on billiboard.com. Url = https://www.billboard.com/ You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [3]:
#Initializing the web browser 
driver=webdriver.Chrome()
driver.maximize_window()

In [4]:
#directing to the link
driver.get(' https://www.billboard.com/')

In [5]:
#clicking on the chart button
charts=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
charts.click()

In [6]:
#clicking on the hot hundred
hot_hundred=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[3]/div/nav/ul/li[1]/a')
hot_hundred.click()

In [11]:
#collecting the song name
song_name=[]
song_tags=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
for i in song_tags:
    c=i.text
    song_name.append(c)

In [13]:
len(song_name)

100

In [41]:
#collecting the artist name
artist_name=[]
artist_tags=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/span')
for i in artist_tags:
    s=i.text
    artist_name.append(s)

In [42]:
artist_name

['Post Malone Featuring Morgan Wallen',
 '1',
 '1',
 '3',
 'Kendrick Lamar',
 '2',
 '1',
 '4',
 'Tommy Richman',
 '3',
 '2',
 '5',
 'Shaboozey',
 '4',
 '3',
 '7',
 'Sabrina Carpenter',
 '6',
 '4',
 '7',
 'Zach Bryan',
 '-',
 '6',
 '1',
 'Teddy Swims',
 '7',
 '1',
 '42',
 'Hozier',
 '9',
 '1',
 '10',
 'Benson Boone',
 '8',
 '2',
 '19',
 'Billie Eilish',
 '5',
 '5',
 '2',
 'Taylor Swift Featuring Post Malone',
 '10',
 '1',
 '6',
 'Billie Eilish',
 '13',
 '12',
 '2',
 'Future, Metro Boomin & Kendrick Lamar',
 '11',
 '1',
 '10',
 'SZA',
 '14',
 '6',
 '14',
 'Ariana Grande',
 '15',
 '1',
 '12',
 'Billie Eilish',
 '12',
 '12',
 '2',
 'Noah Kahan',
 '20',
 '9',
 '35',
 'Zach Bryan Featuring Kacey Musgraves',
 '19',
 '1',
 '40',
 'Jack Harlow',
 '21',
 '1',
 '29',
 'Morgan Wallen Featuring ERNEST',
 '27',
 '20',
 '24',
 'Marshmello & Kane Brown',
 '29',
 '21',
 '4',
 'Central Cee & Lil Baby',
 '-',
 '22',
 '1',
 'Kendrick Lamar',
 '16',
 '3',
 '5',
 'Sexyy Red',
 '32',
 '20',
 '11',
 'Dasha',
 '34',
 '25',
 '12',
 'Sabrina Carpenter',
 '28',
 '21',
 '26',
 'Billie Eilish',
 '17',
 '17',
 '2',
 'GloRilla',
 '33',
 '28',
 '16',
 'Luke Combs',
 '23',
 '23',
 '2',
 'Taylor Swift',
 '26',
 '3',
 '6',
 'Chappell Roan',
 '43',
 '31',
 '8',
 'FloyyMenor X Cris Mj',
 '46',
 '27',
 '11',
 'Bailey Zimmerman',
 '35',
 '32',
 '22',
 'Billie Eilish',
 '22',
 '22',
 '2',
 'Tate McRae',
 '38',
 '3',
 '37',
 'Artemas',
 '39',
 '12',
 '10',
 'Djo',
 '41',
 '11',
 '15',
 'Future, Metro Boomin, Travis Scott & Playboi Carti',
 '40',
 '2',
 '10',
 'GloRilla & Megan Thee Stallion',
 '50',
 '11',
 '8',
 'Nate Smith',
 '44',
 '40',
 '8',
 'Taylor Swift',
 '30',
 '2',
 '6',
 'Doja Cat',
 '42',
 '7',
 '36',
 'Benson Boone',
 '51',
 '40',
 '10',
 'Sexyy Red & Drake',
 '-',
 '44',
 '1',
 'Gunna',
 '37',
 '26',
 '3',
 'Bryson Tiller',
 '49',
 '19',
 '15',
 'Billie Eilish',
 '25',
 '25',
 '2',
 'Beyonce',
 '52',
 '1',
 '16',
 'Chris Stapleton',
 '69',
 '49',
 '4',
 'Billie Eilish',
 '24',
 '24',
 '2',
 'Myles Smith',
 '79',
 '51',
 '3',
 'Koe Wetzel',
 '47',
 '47',
 '2',
 'Billie Eilish',
 '18',
 '18',
 '2',
 'Jessie Murph & Jelly Roll',
 '56',
 '35',
 '34',
 'Muni Long',
 '61',
 '20',
 '20',
 '21 Savage',
 '53',
 '5',
 '20',
 'Jelly Roll',
 '60',
 '57',
 '8',
 'Taylor Swift',
 '45',
 '9',
 '6',
 'Drake',
 '48',
 '7',
 '4',
 'Travis Scott Featuring Playboi Carti',
 '62',
 '5',
 '30',
 'Cody Johnson',
 '70',
 '61',
 '6',
 'Billie Eilish',
 '31',
 '31',
 '2',
 'Luis R Conriquez x Neton Vega',
 '72',
 '63',
 '4',
 'Taylor Swift',
 '55',
 '10',
 '6',
 'Taylor Swift',
 '54',
 '7',
 '6',
 'Olivia Rodrigo',
 '68',
 '14',
 '10',
 '¥$: Ye & Ty Dolla $ign Featuring Rich The Kid & Playboi Carti',
 '59',
 '1',
 '16',
 'Taylor Swift',
 '57',
 '5',
 '6',
 'Bryan Martin',
 '80',
 '69',
 '8',
 'Michael Marcagi',
 '73',
 '54',
 '15',
 'Taylor Swift',
 '58',
 '6',
 '6',
 'Cris Mj',
 '-',
 '72',
 '1',
 'Billie Eilish',
 '36',
 '36',
 '2',
 'Cardi B',
 '76',
 '9',
 '11',
 'Dua Lipa',
 '78',
 '43',
 '7',
 'BossMan DLow',
 '75',
 '49',
 '17',
 'Taylor Swift Featuring Florence + The Machine',
 '64',
 '8',
 '6',
 'Tucker Wetmore',
 '93',
 '75',
 '9',
 'Taylor Swift',
 '65',
 '14',
 '6',
 'Taylor Swift',
 '66',
 '4',
 '6',
 'Bakar Featuring Summer Walker',
 '86',
 '53',
 '8',
 'Mark Ambor',
 '90',
 '82',
 '5',
 'Twenty One Pilots',
 '-',
 '83',
 '1',
 'Kehlani',
 '-',
 '84',
 '1',
 'Kenny Chesney',
 '92',
 '85',
 '3',
 'Tyler Hubbard',
 '77',
 '62',
 '11',
 'The Red Clay Strays',
 '99',
 '71',
 '11',
 'Jordan Davis',
 '87',
 '71',
 '13',
 'Don Toliver',
 '89',
 '38',
 '16',
 'Tucker Wetmore',
 '97',
 '77',
 '10',
 'Drake',
 '74',
 '17',
 '6',
 'Taylor Swift',
 '81',
 '12',
 '6',
 'Kendrick Lamar',
 '67',
 '12',
 '4',
 'Sam Hunt',
 '96',
 '66',
 '12',
 'Ashley Cooke',
 '-',
 '95',
 '1',
 'Don Toliver Featuring Charlie Wilson & Cash Cobain',
 '-',
 '96',
 '1',
 'Shoreline Mafia Presents OhGeesy & Fenix Flexin',
 '98',
 '97',
 '2',
 'Taylor Swift',
 '82',
 '13',
 '6',
 'Gunna',
 '71',
 '54',
 '3',
 'Fuerza Regida',
 '-',
 '66',
 '13']

In [43]:
artist_name=artist_name[::4]

In [44]:
artist_name

['Post Malone Featuring Morgan Wallen',
 'Kendrick Lamar',
 'Tommy Richman',
 'Shaboozey',
 'Sabrina Carpenter',
 'Zach Bryan',
 'Teddy Swims',
 'Hozier',
 'Benson Boone',
 'Billie Eilish',
 'Taylor Swift Featuring Post Malone',
 'Billie Eilish',
 'Future, Metro Boomin & Kendrick Lamar',
 'SZA',
 'Ariana Grande',
 'Billie Eilish',
 'Noah Kahan',
 'Zach Bryan Featuring Kacey Musgraves',
 'Jack Harlow',
 'Morgan Wallen Featuring ERNEST',
 'Marshmello & Kane Brown',
 'Central Cee & Lil Baby',
 'Kendrick Lamar',
 'Sexyy Red',
 'Dasha',
 'Sabrina Carpenter',
 'Billie Eilish',
 'GloRilla',
 'Luke Combs',
 'Taylor Swift',
 'Chappell Roan',
 'FloyyMenor X Cris Mj',
 'Bailey Zimmerman',
 'Billie Eilish',
 'Tate McRae',
 'Artemas',
 'Djo',
 'Future, Metro Boomin, Travis Scott & Playboi Carti',
 'GloRilla & Megan Thee Stallion',
 'Nate Smith',
 'Taylor Swift',
 'Doja Cat',
 'Benson Boone',
 'Sexyy Red & Drake',
 'Gunna',
 'Bryson Tiller',
 'Billie Eilish',
 'Beyonce',
 'Chris Stapleton',
 'Billie Eilish',
 'Myles Smith',
 'Koe Wetzel',
 'Billie Eilish',
 'Jessie Murph & Jelly Roll',
 'Muni Long',
 '21 Savage',
 'Jelly Roll',
 'Taylor Swift',
 'Drake',
 'Travis Scott Featuring Playboi Carti',
 'Cody Johnson',
 'Billie Eilish',
 'Luis R Conriquez x Neton Vega',
 'Taylor Swift',
 'Taylor Swift',
 'Olivia Rodrigo',
 '¥$: Ye & Ty Dolla $ign Featuring Rich The Kid & Playboi Carti',
 'Taylor Swift',
 'Bryan Martin',
 'Michael Marcagi',
 'Taylor Swift',
 'Cris Mj',
 'Billie Eilish',
 'Cardi B',
 'Dua Lipa',
 'BossMan DLow',
 'Taylor Swift Featuring Florence + The Machine',
 'Tucker Wetmore',
 'Taylor Swift',
 'Taylor Swift',
 'Bakar Featuring Summer Walker',
 'Mark Ambor',
 'Twenty One Pilots',
 'Kehlani',
 'Kenny Chesney',
 'Tyler Hubbard',
 'The Red Clay Strays',
 'Jordan Davis',
 'Don Toliver',
 'Tucker Wetmore',
 'Drake',
 'Taylor Swift',
 'Kendrick Lamar',
 'Sam Hunt',
 'Ashley Cooke',
 'Don Toliver Featuring Charlie Wilson & Cash Cobain',
 'Shoreline Mafia Presents OhGeesy & Fenix Flexin',
 'Taylor Swift',
 'Gunna',
 'Fuerza Regida']

In [45]:
#collecting the data for last week rank
lw_rank=[]
lw_tags=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]/span')
for i in lw_tags:
    l=i.text
    lw_rank.append(l)

In [50]:
lw_rank=lw_rank[::2]

In [52]:
len(lw_rank)

100

In [55]:
#collecting the data for peak rank
pk_rank=[]
pk_tags=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]/span')
for tag in pk_tags:
    t=tag.text
    pk_rank.append(t)

In [57]:
len(pk_rank)

100

In [58]:
#collecting the data for weeks on board
wks_on_board=[]
wks_tags=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]/span')
for tag in wks_tags:
    x=tag.text
    wks_on_board.append(x)

In [60]:
wks_on_board=wks_on_board[1::2]

In [62]:
len(wks_on_board)

100

In [63]:
billiboard_dict={'Song Name':song_name,'Artist_name':artist_name,'Last_week rank':lw_rank,'Peak Rank':pk_rank,'Weeks on Board':wks_on_board}

In [64]:
DF_5=pd.DataFrame.from_dict(billiboard_dict)

In [66]:
#printing the required data frame
DF_5.head(10)

,Song Name,Artist_name,Last_week rank,Peak Rank,Weeks on Board
0,I Had Some Help,Post Malone Featuring Morgan Wallen,1,1,3
1,Not Like Us,Kendrick Lamar,2,1,4
2,Million Dollar Baby,Tommy Richman,3,2,5
3,A Bar Song (Tipsy),Shaboozey,4,3,7
4,Espresso,Sabrina Carpenter,6,4,7
5,Pink Skies,Zach Bryan,-,6,1
6,Lose Control,Teddy Swims,7,1,42
7,Too Sweet,Hozier,9,1,10
8,Beautiful Things,Benson Boone,8,2,19
9,Lunch,Billie Eilish,5,5,2

In [67]:
#closing the webbrowser
driver.quit()

6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [68]:
#Initializing the web browser
driver=webdriver.Chrome()
driver.maximize_window()

In [69]:
#directing to the web site
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [71]:
#collecting the data of book names
book_names=[]
book_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for tag in book_tags:
    q=tag.text
    book_names.append(q)

In [74]:
len(book_names)

100

In [75]:
#collecting the data of author
author=[]
author_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for tag in author_tags:
    a=tag.text
    author.append(a)

In [77]:
len(author)

100

In [78]:
#collecting the data of volume sold
volume_sold=[]
vol_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for tag in vol_tags:
    b=tag.text
    volume_sold.append(b)

In [80]:
len(volume_sold)

100

In [81]:
#collecting the data of publisher
publisher=[]
pub_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for tag in pub_tags:
    c=tag.text
    publisher.append(c)

In [83]:
len(publisher)

100

In [84]:
#collecting the data of genre
genre=[]
genre_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for tag in genre_tags:
    e=tag.text
    genre.append(e)

In [86]:
len(genre)

100

In [87]:
novel_dict={'Book Name':book_names,'Author Name':author,'Volume Sold':volume_sold,'Publisher':publisher,'Genre':genre}

In [88]:
DF_6=pd.DataFrame.from_dict(novel_dict)

In [91]:
#printing out the required data frame
DF_6.head(10)

,Book Name,Author Name,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
5,Harry Potter and the Goblet of Fire,"Rowling, J.K.","3,583,215",Bloomsbury,Children's Fiction
6,Harry Potter and the Chamber of Secrets,"Rowling, J.K.","3,484,047",Bloomsbury,Children's Fiction
7,Harry Potter and the Prisoner of Azkaban,"Rowling, J.K.","3,377,906",Bloomsbury,Children's Fiction
8,Angels and Demons,"Brown, Dan","3,193,946",Transworld,"Crime, Thriller & Adventure"
9,Harry Potter and the Half-blood Prince:Childre...,"Rowling, J.K.","2,950,264",Bloomsbury,Children's Fiction

In [92]:
#closing the driver
driver.quit()

7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [2]:
#Initializing the web browser
driver=webdriver.Chrome()
driver.maximize_window()

In [4]:
# directing to the link
driver.get('https://www.imdb.com/list/ls095964455/ ')

In [1]:
print('the link above is showing 404 error')

the link above is showing 404 error

In [33]:
#closing the web browser
driver.quit()

8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.
ASSIGNMENT

In [34]:
#initializing the web browser
driver=webdriver.Chrome()
driver.maximize_window()

In [35]:
#directing the link
driver.get(' https://archive.ics.uci.edu/ ')

In [36]:
#clicking on dataset
view_dataset_tag=driver.find_element(By.XPATH,'//a[@class="btn-primary btn"]')
view_dataset_tag.click()

In [47]:
#collecting the dataset data
dataset=[]

dataset_tags=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for tag in dataset_tags:
    s=tag.text
    dataset.append(s)

In [48]:
dataset

['Iris',
 'Dry Bean',
 'Heart Disease',
 'Rice (Cammeo and Osmancik)',
 'Raisin',
 'Adult',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Wine',
 'Wine Quality',
 'Bank Marketing']

In [52]:
#collecting the task data
task=[]
task_tags=driver.find_elements(By.XPATH,'//p[@class="truncate"]')
for tag in task_tags:
    c=tag.text
    task.append(c)

In [53]:
task

['A small classic dataset from Fisher, 1936. One of the earliest known datasets used for evaluating classification methods.',
 'Images of 13,611 grains of 7 different registered dry beans were taken with a high-resolution camera. A total of 16 features; 12 dimensions and 4 shape forms, were obtained from the grains.',
 '4 databases: Cleveland, Hungary, Switzerland, and the VA Long Beach',
 "A total of 3810 rice grain's images were taken for the two species, processed and feature inferences were made. 7 morphological features were obtained for each grain of rice.",
 'Images of the Kecimen and Besni raisin varieties were obtained with CVS. A total of 900 raisins were used, including 450 from both varieties, and 7 morphological features were extracted.',
 'Predict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset.',
 'Diagnostic Wisconsin Breast Cancer Database.',
 'Using chemical analysis to determine the origin of wines',
 'Two datasets are included, related to red and white vinho verde wine samples, from the north of Portugal. The goal is to model wine quality based on physicochemical tests (see [Cortez et al., 2009], http://www3.dsi.uminho.pt/pcortez/wine/).',
 'The data is related with direct marketing campaigns (phone calls) of a Portuguese banking institution. The classification goal is to predict if the client will subscribe a term deposit (variable y).']

In [62]:
# collecting the attributes and instances
inst_attr=[]
tags=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"]/span')
for tag in tags:
    d=tag.text
    inst_attr.append(d)

In [ ]:
# seperating attributes and instances

In [63]:
instances=inst_attr[2::4]

In [64]:
instances

['150 Instances',
 '13.61K Instances',
 '303 Instances',
 '3.81K Instances',
 '900 Instances',
 '48.84K Instances',
 '569 Instances',
 '178 Instances',
 '4.9K Instances',
 '45.21K Instances']

In [67]:
attributes=inst_attr[3::4]

In [80]:
attributes

['4 Features',
 '16 Features',
 '13 Features',
 '7 Features',
 '8 Features',
 '14 Features',
 '30 Features',
 '13 Features',
 '12 Features',
 '17 Features']

In [78]:
# updating the apperance of instances
numeric_instances=[]
match_pattern=re.compile(r'([\d.]+K?)')
for instance in instances:
    match=match_pattern.search(instance)
    if match:
        numeric_instances.append((match.group()))

In [79]:
numeric_instances

['150',
 '13.61K',
 '303',
 '3.81K',
 '900',
 '48.84K',
 '569',
 '178',
 '4.9K',
 '45.21K']

In [85]:
#updating the appearance of attributes
numeric_attributes=[]
match_pattern=re.compile(r'(\d+)')
for attribute in attributes:
    match=match_pattern.search(attribute)
    if match:
        numeric_attributes.append(int(match.group()))

In [86]:
numeric_attributes

[4, 16, 13, 7, 8, 14, 30, 13, 12, 17]

In [87]:
dataset_dict={'Data Set':dataset,'Task':task,'Number of Instances':numeric_instances,'Number of Attributes':numeric_attributes}

In [89]:
DF_8=pd.DataFrame.from_dict(dataset_dict)

In [91]:
#printing out the required dataset
DF_8

,Data Set,Task,Number of Instances,Number of Attributes
0,Iris,"A small classic dataset from Fisher, 1936. One...",150,4
1,Dry Bean,"Images of 13,611 grains of 7 different registe...",13.61K,16
2,Heart Disease,"4 databases: Cleveland, Hungary, Switzerland, ...",303,13
3,Rice (Cammeo and Osmancik),A total of 3810 rice grain's images were taken...,3.81K,7
4,Raisin,Images of the Kecimen and Besni raisin varieti...,900,8
5,Adult,Predict whether income exceeds $50K/yr based o...,48.84K,14
6,Breast Cancer Wisconsin (Diagnostic),Diagnostic Wisconsin Breast Cancer Database.,569,30
7,Wine,Using chemical analysis to determine the origi...,178,13
8,Wine Quality,"Two datasets are included, related to red and ...",4.9K,12
9,Bank Marketing,The data is related with direct marketing camp...,45.21K,17