# **Regex** **Assignment**

In [1]:
import re
import pandas as pd

**Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.**

**Sample Text- 'Python Exercises, PHP exercises.'**

In [2]:
Sample_Text= 'Python Exercises, PHP exercises.'
x=re.sub("[ , .]",':',Sample_Text)
print(x)

Python:Exercises::PHP:exercises:

**Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.**
**Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}**

In [3]:
Dictionary={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df=pd.DataFrame.from_dict(Dictionary)
def substitute(str):
    return re.sub("[^\w\s]|123|XXXXX", "",str)
df['SUMMARY']=df['SUMMARY'].apply(substitute)
print(df)

         SUMMARY
0    hello world
1           test
2  four five six

### **Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.**

In [4]:
def four_char(str):
    match_pattern=re.compile(r'\b\w{4,}\b')
    return (match_pattern.findall(str))
text="rwtdd jdhwudhn sdskk dfg 1234 sdbsjdbs jsnksn sjnskls lskdkk hd"
four_char(text)

['rwtdd',
 'jdhwudhn',
 'sdskk',
 '1234',
 'sdbsjdbs',
 'jsnksn',
 'sjnskls',
 'lskdkk']

### **Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.**

In [5]:
def specific_count_str(str):
    match_pattern=re.compile(r'\b\w{3,5}\b')
    return match_pattern.findall(str)
text="rwtdd jdhwudhn sdskk dfg 1234 sdbsjdbs jsnksn sjnskls lskdkk hd ghytr"
result=specific_count_str(text)
print(result)

['rwtdd', 'sdskk', 'dfg', '1234', 'ghytr']

**Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.**
**Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]**

In [6]:
def remove_parenthesis(lst):
    match_pattern=re.compile(r'\(|\)')
    for i in range(len(lst)):
        lst[i]=match_pattern.sub('', lst[i])
    return lst
sample_text = ["example(.com)", "hr@fliprobo(.com)", "github(.com)", "Hello (Data Science World)", "Data (Scientist)"]
remove_parenthesis(sample_text)

['example.com',
 'hr@fliprobo.com',
 'github.com',
 'Hello Data Science World',
 'Data Scientist']

**Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]**

In [37]:
sample_text='["example(.com)", "hr@fliprobo(.com)", "github(.com)", "Hello (Data Science World)", "Data (Scientist)"]'
file_name='list.txt'
with open(file_name,'w') as file:
    file.writelines(sample_text)
with open(file_name ,'r') as file:
    file_contents=file.read()
#print(file_contents)

match_pattern=r'\(|\)'
matches=re.sub(match_pattern,'',file_contents)
print(matches)

["example.com", "hr@fliprobo.com", "github.com", "Hello Data Science World", "Data Scientist"]

**Question 7- Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”**

In [7]:
str='ImportanceOfRegularExpressionsInPython'
match_pattern=re.split(r'(?=[A-Z])',str)
match_pattern

['', 'Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

**Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"**

In [8]:
def insert_space(text):
    match_pattern=re.compile(r'(?=[0-9])')
    return match_pattern.sub(' ',text)

sample_text="RegularExpression1IsAn2ImportantTopic3InPython"
insert_space(sample_text)

'RegularExpression 1IsAn 2ImportantTopic 3InPython'

**Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"**

In [9]:
def insert_space_alphanumeric(str):
    match_pattern=re.compile(r'(?=[A-Z]|[0-9])')
    return match_pattern.sub(' ',str)
sample_text="RegularExpression1IsAn2ImportantTopic3InPython"
insert_space_alphanumeric(sample_text)

' Regular Expression 1 Is An 2 Important Topic 3 In Python'

**Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv**

In [10]:
df=pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')

def letter_extract(country_name):
    match_pattern=re.compile(r'^([A-Za-z]{1,6})',re.IGNORECASE)
    match=match_pattern.search(country_name)
    if match:
        return match.group(1)
    else:
        return None

df['first_five_letters']=df['Country'].apply(letter_extract)
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

**Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.**

In [59]:
def match_text(text):
    match_pattern=re.compile(r'^(\w)+$')
    if match_pattern.match(text):
        return True
    else:
        return False

string1 = "Hello_World123"
string2 = "Hello World"
print(match_text(string1))
print(match_text(string2))

True
False

**Question 12- Write a Python program where a string will start with a specific number.**

In [58]:
def start_with_num(str):
    match_pattern=re.compile(r'^\d')
    if match_pattern.match(str):
        return True
    else:
        return False
string1 = "123Hello World"
string2 = "Hello World"
print(start_with_num(string1))
print(start_with_num(string2))

True
False

**Question 13- Write a Python program to remove leading zeros from an IP address**

In [57]:
def remove_zeros(ip):
    return re.sub(r'\b0+', '',ip)

ip1= '0.0023.002'
ip2= '00.0023.52.222'
print(remove_zeros(ip1))
print(remove_zeros(ip2))

.23.2
.23.52.222

**Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.Note- Store given sample text in the text file and then extract the date string asked format.**

In [56]:
sample_text='On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country'
file_name='sample_text.txt'
with open(file_name, 'w') as file:
    file.write(sample_text)
with open(file_name, 'r') as file:
    file_content=file.read()
match_pattern=r'\b(?:January|February|March|April|May|June|July|August|September|October|November|December)\s+\d{1,2}(?:st|nd|rd|th)\s+\d{4}\b'
matches=re.findall(match_pattern,file_content)
for match in matches:
    print(match)

August 15th 1947

**Question 15- Write a Python program to search some literals strings in a string.
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'**

In [55]:
str= 'The quick brown fox jumps over the lazy dog.'
search_words=['fox','dog','horse']
for word in search_words:
    if re.search(word,text):
        print(f'{word} is present in the string')
    else:
        print(f'the {word} is not present in the string')

the fox is not present in the string
the dog is not present in the string
the horse is not present in the string

**Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'**

In [54]:
str='The quick brown fox jumps over the lazy dog.'
word='fox'
match=re.search(word,str)
if match :
    print (f'the {word} presnt in the given string at index {match.start()}')
else:
    print(f'the {word} is not present in the string')

the fox presnt in the given string at index 16

**Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'.**

In [53]:
sample_text= 'Python exercises, PHP exercises, C# exercises'
pattern='exercise'
for match in re.finditer(pattern,sample_text):
    print(match.group())

exercise
exercise
exercise

**Question 18- Write a Python program to find the occurrence and position of the substrings within a string.**

In [52]:
sample_text= 'Python exercises, PHP exercises, C# exercises'
pattern='exercise'
for match in re.finditer(pattern,sample_text):
    st=match.start()
    ed=match.end()
    print(f'The substring {match.group()} in the given string has found in the string at an index position {st} to {ed}')

The substring exercise in the given string has found in the string at an index position 7 to 15
The substring exercise in the given string has found in the string at an index position 22 to 30
The substring exercise in the given string has found in the string at an index position 36 to 44

**Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.**

In [51]:
def convert_date_format(date):
    match_pattern=re.compile(r'(\d{4})-(\d{2})-(\d{2})')
    match=match_pattern.search(date)
    if match:
        year,month,day=match.groups()
        return f'{day}-{month}-{year}'
    else:
        return 'The format is invalid'

date='1993-03-14'
print(convert_date_format(date))

14-03-1993

**Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"**

In [50]:
def decimal_precision(text):
    match_pattern=re.compile(r'\b\d+\.\d{1,2}\b')
    return match_pattern.findall(text)
Sample_Text= "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
decimal_precision(Sample_Text)

['01.12', '145.8', '3.01', '27.25', '0.25']

**Question 21- Write a Python program to separate and print the numbers and their position of a given string.**

In [49]:
def seperate_numbers(str):
    match_pattern=re.compile(r'\d+')
    matches=match_pattern.finditer(str)
    count=0
    for match in matches:
        count=count+1
        if count==1:
            print(f'{count}st number in the string is {match.group()} at index position  {match.start()} to {match.end()}')
        elif count==2:
            print(f'{count}nd number in the string is {match.group()} at index position {match.start()} to {match.end()}')
        elif count==3:
            print(f'{count}rd number in the string is {match.group()} at index position {match.start()} to {match.end()}')
        else:
            print(f'{count}th number in the string is {match.group()} at index position {match.start()} to {match.end()}')

text='gdfdg jdhu 234 jcbdj 33647 njdnkk 67 hdbj 647'
seperate_numbers(text)

1st number in the string is 234 at index position  11 to 14
2nd number in the string is 33647 at index position 21 to 26
3rd number in the string is 67 at index position 34 to 36
4th number in the string is 647 at index position 42 to 45

**Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'**

In [48]:
sample_text= 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
match_pattern=re.compile(r'\d+')
match=max(match_pattern.findall(sample_text))
print(f'The mximum number in the given string is {match}')

The mximum number in the given string is 950

**Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"**

In [47]:
def insert_space(text):
    match_pattern=re.compile('(?=[A-Z])')
    return match_pattern.sub(' ',text)
sample_text='RegularExpressionIsAnImportantTopicInPython'
insert_space(sample_text)

' Regular Expression Is An Important Topic In Python'

**Question 24- Python regex to find sequences of one upper case letter followed by lower case letters**

In [46]:
text='RegularExpressionIsAnImportantTopicInPython'
match_pattern=re.compile(r'[A-Z][a-z]+')
match_pattern.findall(text)

['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'In', 'Python']

**Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text: "Hello hello world world"**

In [45]:
sample_text='Hello hello world world'
match_pattern= re.compile(r'\b(\w+)(\s+\1)+\b')
match_pattern.sub(r'\1',sample_text)

'Hello hello world'

**Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.**

In [44]:
def alphanumeric_string(text):
    match_pattern=re.compile(r'[A-Za-z0-9]+$')
    if match_pattern.match(text):
        return True
    else:
        return False
text1 = "Hello123"
text2 = "Hello World"
print(alphanumeric_string(text1))
print(alphanumeric_string(text2))

True
False

**Question 27-Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""**

In [43]:
sample_text='''RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has
rendered USELESS <U+00A0><U+00BD><U+00B1><U+0089> "acquired funds" No wo'''
match_pattern=re.compile(r'(#\w+)')
match_pattern.findall(sample_text)

['#Doltiwal', '#xyzabc', '#Demonetization']

**Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"**

In [42]:
sample_text='''@Jags123456 Bharat band on 28??<U+00A0><U+00BD><U+00B8><U+0082>Those
who are protesting #demonetization are all different party leaders'''
match_pattern=re.compile(r'(<U\+\w+)')
match_pattern.sub(r'',sample_text)

'@Jags123456 Bharat band on 28??>>>>Those\nwho are protesting #demonetization are all different party leaders'

**Question 29- Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Note- Store this sample text in the file and then extract dates.**

In [40]:
sample_text='Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.'
file_name='text.txt'
with open(file_name, 'w') as file:
    file.write(sample_text)

with open(file_name, 'r') as file:
    file_contents=file.read()
#print(file_contents)

match_pattern=re.compile(r'\d{2}-\d{2}-\d{4}')
match_pattern.findall(file_contents)

['12-09-1992', '15-12-1999']

**Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."**

In [41]:
def remove_string(text):
    match_pattern=re.compile(r'\b\w{2,4}\b')
    return match_pattern.sub(r'',text)

sample_text='''The following example creates an ArrayList with a capacity of 50 elements.
 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly.'''

remove_string(sample_text)

' following example creates  ArrayList  a capacity   elements.\n 4 elements   added   ArrayList   ArrayList  trimmed accordingly.'