## Assignment Web Scraping using Selenium

Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and 
salary filter. 
You have to scrape data for “Data Scientist” designation for first 10 job results. 
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs 
The task will be done as shown in the below steps: 
1. first get the web page https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field. 
3. Then click the search button. 
4. Then apply the location filter and salary filter by checking the respective boxes 
5. Then scrape the data for the first 10 jobs results you get. 
6. Finally create a dataframe of the scraped data.

In [1]:
#importing required Liberary
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [14]:
#selecting webdriver
driver=webdriver.Chrome()

In [15]:
# getting the web page 
driver.get('https://www.naukri.com/')

In [16]:
#entering the skill and location
skill=driver.find_element(By.CLASS_NAME,"suggestor-input ")
skill.send_keys('Data Scientist')
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi/NCR')

In [17]:
#clicking on the search tab
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [24]:
#checking the Delhi/NCR location filter
location_filter=driver.find_element(By.XPATH,'//*[@id="search-result-container"]/div[1]/div[1]/div/div/div[2]/div[2]/div[2]/div[1]/label/p/span[1]')
driver.execute_script('arguments[0].click()',location_filter)

In [27]:
#checking the salary 3-6 lakh filter tab
salary_filter=driver.find_element(By.XPATH,'/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
driver.execute_script('arguments[0].click()',salary_filter)

In [64]:
# creating empty list of 
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [65]:
# Scrapping the job_titles 
title_tags=driver.find_elements(By.XPATH,'//div[@class="srp-jobtuple-wrapper"]/div/div/a')
for i in title_tags:
    title=i.text
    job_title.append(title)

In [66]:
len(job_title)

20

In [67]:
# Scrapping the Job_locations
location=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for j in location:
    loc=j.text
    job_location.append(loc)

In [68]:
len(job_location)

20

In [69]:
#Scrapping Company Name
comp_name=driver.find_elements(By.XPATH,'//span[@class=" comp-dtls-wrap"]/a[1]')
for k in comp_name:
    name=k.text
    company_name.append(name)

In [70]:
len(company_name)

20

In [71]:
#scrapping the experience required
experience=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for l in experience:
    exp=l.text
    experience_required.append(exp)

In [74]:
len(experience_required)

20

In [78]:
# Creating data frame for job_title,job_location,company_name,experience_required
dictionary={'Job_Title':job_title,'Job_Location':job_location,'Company_Name':company_name,'Experience_required':experience_required}
DF=pd.DataFrame(dictionary)

In [79]:
DF

,Job_Title,Job_Location,Company_Name,Experience_required
0,Data Scientist,"Gurugram, Bengaluru",Blackbuck,3-7 Yrs
1,"Data Scientist - NLP, Gen AI",Noida,R Systems International,5-8 Yrs
2,Global GI Data Scientist,Faridabad,Hitachi Ltd.,3-5 Yrs
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Digital Glyde,3-7 Yrs
4,Python Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Wizaltia Hr Solutions,2-7 Yrs
5,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Kmart,3-5 Yrs
6,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",KAS Services,3-5 Yrs
7,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Scienaptic Systems,2-7 Yrs
8,Lead Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Elitefit.ai,3-7 Yrs
9,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Kashsam Data Solutions,3-7 Yrs
10,Data Scientist (Telco),"Gurugram, Bengaluru",PayU,2-7 Yrs
11,Associate Scientist - Data Sourcing & Solutions,Gurugram,Axa Technology Services,1-4 Yrs
12,Global GI Data Scientist,Faridabad,Hitachi Energy,3-5 Yrs
13,Senior Data Scientist,Noida,Innovaccer,3-4 Yrs
14,Data Scientist,Noida,Times Internet,3-8 Yrs
15,Python and ML Trainer,"Hyderabad, New Delhi, Pune, Gurugram, Bengaluru",The Scholar,3-8 Yrs
16,Associate Scientist - Data Sourcing & Solutions,Gurugram,AXA Global Business Services,1-4 Yrs
17,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Fort Technologies,1-3 Yrs
18,Data Scientist,"Gurugram, Bengaluru",Acenet,3-4 Yrs
19,Data Scientist,"Varanasi, Kannur, Mumbai, New Delhi",Searchurcollege,1-3 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the 
job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton. 
4. Then scrape the data for the first 10 jobs results you get. 
5. Finally create a dataframe of the scraped data.

In [80]:
#importing necessary Liberary
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [81]:
#Selecting the web driver
driver=webdriver.Chrome()

In [82]:
#getting the web page
driver.get(' https://www.shine.com/')

In [83]:
# entering job skill required in search tab
job_skill=driver.find_element(By.CLASS_NAME,"form-control  ")
job_skill.send_keys('Data Analyst')

In [84]:
# entering job location in search tab
location=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [89]:
# clicking on the search tab
searching=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
searching.click()

In [90]:
# creating the empty list for 
job_title=[]
company_name=[]
job_location=[]
experience_required=[]

In [92]:
#Scrapping job title from the web page
title_tags=driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]')
for i in title_tags:
    title=i.text
    job_title.append(title)

In [95]:
len(job_title)

20

In [96]:
#Scrapping the company name
company=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company:
    comp=i.text
    company_name.append(comp)

In [99]:
len(company_name)

20

In [100]:
#Scrapping Job location
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location=i.text
    job_location.append(location)

In [103]:
len(job_location)

20

In [104]:
#Scrapping experience required
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    expe=i.text
    experience_required.append(expe)

In [107]:
len(experience_required)

20

In [108]:
#creating a data frame from dictionary
dictionary_1={'Job title':job_title,'Company Name':company_name,'Job Location':job_location,'Experience Required':experience_required}
DF_1=pd.DataFrame(dictionary_1)

In [109]:
DF_1

,Job title,Company Name,Job Location,Experience Required
0,"Data Analyst , Senior Data Analyst , Data Anal...",appsoft solutions,Bangalore\n+8,0 to 4 Yrs
1,Data Analyst,valenta bpo solutions pvt. ltd.,Bangalore,4 to 5 Yrs
2,"Data Analyst (Power BI, Python, SQL)- Internal...",talent leads hr solutions pvt ltd,Bangalore,3 to 8 Yrs
3,Clinical Data Analyst,techno endura,Bangalore\n+6,0 to 1 Yr
4,Data Analyst Fresher and Experience Vacancy,radhika enterprises,Bangalore\n+12,0 to 4 Yrs
5,Data Analyst Opening,radhika enterprises,Bangalore\n+12,0 to 4 Yrs
6,Data Analyst Recruitment,radhika enterprises,Bangalore\n+12,0 to 4 Yrs
7,Data Analyst Recruitment,radhika enterprises,Bangalore\n+12,0 to 4 Yrs
8,Business Analyst,mackenzie modern it solutions priva...,Bangalore\n+6,4 to 6 Yrs
9,MIS Analyst,quess corp (magna infotech),Bangalore,8 to 13 Yrs
10,Data Governance Analyst,white horse manpower consultancy (p...,Bangalore,5 to 8 Yrs
11,Immediate Joiner For SENIOR DATA ENGINEER __ P...,sigma allied services private limit...,Bangalore\n+8,5 to 10 Yrs
12,Azure Data Engineer,live connections placements pvt ltd,Bangalore\n+3,4 to 7 Yrs
13,Data Science- Manager,mackenzie modern it solutions priva...,Bangalore\n+7,6 to 11 Yrs
14,Data Science- Manager,mackenzie modern it solutions priva...,Bangalore\n+7,5 to 10 Yrs
15,Data Support Executive,mackenzie modern it solutions priva...,Bangalore\n+7,5 to 10 Yrs
16,Data Analytics,prathigna.com hr solutions private ...,Bangalore\n+3,6 to 10 Yrs
17,Manager Data Science,mackenzie modern it solutions priva...,Bangalore\n+7,5 to 9 Yrs
18,Data Science Analytics,mackenzie modern it solutions priva...,Bangalore\n+7,5 to 10 Yrs
19,Data Engineer-OBIEE,ltimindtree limited,Bangalore\n+1,5 to 10 Yrs

In [110]:
#closing the web driver
driver.quit()

Q3.Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.
Note: All the stepsrequired during scraping should be done through code only and not manually.

In [160]:
#importing Necessary liberary
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time

In [171]:
# choosing web driver
driver=webdriver.Chrome()

In [172]:
#getting the required web page
driver.get('https://www.flipkart.com/apple-iphone-11-black-128-gb/product-reviews/itm8244e8d955aba?pid=MOBFWQ6BKRYBP5X8&lid=LSTMOBFWQ6BKRYBP5X8X0KYUG&marketplace=FLIPKART')

In [163]:
#creating the empty liist for
ratings=[]
review_summary=[]
full_review=[]

In [164]:
#Scrrapping Rattings from web page
for i in range(10):
    rating_tags=driver.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
    for j in rating_tags:
        rate=j.text
        ratings.append(rate)
#for next button
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [165]:
len(ratings)

100

In [168]:
#Scrapping review summary
for i in range(10):
    summery_tags=driver.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
    for j in summery_tags:
        summary=j.text
        review_summary.append(summary)
#for next button
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [169]:
len(review_summary)

100

In [173]:
for i in range(10):
    full_review_tags=driver.find_elements(By.XPATH,'//div[@class="row"]/div/div/div')
    for i in full_review_tags:
        rev=i.text
        full_review.append(rev)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [181]:
#there are empty string present in full_summary
full_review[:10]

['Camera is awesome\nBest battery backup\nA performer 👌🏻\nIt will be a real value for money if they provide charger and earphone inbox!',
 '',
 '',
 'Very very good',
 '',
 '',
 'This is amazing at all',
 '',
 '',
 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!']

In [182]:
# removing empty string from_full_review
detailed_review=[]
for review in full_review:
    if review!='':
        detailed_review.append(review)

In [183]:
len(detailed_review)

100

In [185]:
# Creating Data Frame
dictionary_2={'rattings':ratings,'review summary':review_summary,'full_review':detailed_review}
DF_2=pd.DataFrame(dictionary_2)
DF_2

,rattings,review summary,full_review
0,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
1,5,Terrific,Very very good
2,5,Wonderful,This is amazing at all
3,5,Worth every penny,Feeling awesome after getting the delivery of ...
4,5,Best in the market!,Good Camera
...,...,...,...
95,5,Highly recommended,Got if for 43000/- I Flipkart. In market it wa...
96,5,Perfect product!,Nice 👌👌👌👌👌👌
97,5,Terrific,Must buy
98,5,Brilliant,Good looking awesome mobile
99,5,Fabulous!,"Just amazing purchase , thanks Flipkart and Ko..."

In [186]:
#closing the browser
driver.quit()

Q4: Scrape data forfirst 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search
field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes

In [1]:
#importing require Liberary
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time

In [87]:
#choosing web driver
driver=webdriver.Chrome()

In [88]:
#getting web page
driver.get('https://www.flipkart.com/')

In [89]:
#searching for sneaker
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
product.send_keys('sneakers')

In [90]:
#clicking on search icon
search_icon=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
search_icon.click()

In [80]:
#creating empty list for following
brand=[]
product_description=[]
price=[]

In [81]:
#Scrapping the Brand details
for i in range(3):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
    for j in brand_tags:
        branding=j.text
        brand.append(branding)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [92]:
#taking first 100 entries
new_brand=brand[:100]

In [86]:
# scrapping product description
for j in range(3):
    dec_tag=driver.find_elements(By.XPATH,'//a[@class="WKTcLC"]')
    for i in dec_tag:
        dec=i.text
        product_description.append(dec)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [93]:
#taking first 100 entries
new_dec=product_description[:100]

In [91]:
#Scrapping the price of sneakers
for i in range(3):
    price_tags=driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
    for j in price_tags:
        prize=j.text
        price.append(prize)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [94]:
#taking first 100 entries
new_price=price[:100]

In [95]:
dectionary_3={'Brand':new_brand,'Product Description':new_dec,'Price':new_price}
DF_3=pd.DataFrame(dectionary_3)

In [97]:
DF_3

       Brand                                Product Description   Price
0    ROASTER         Stylish Shoes for Girls Sneakers For Women    ₹317
1     Shozie  Trending Stylish Casual Outdoor Shoes Sneakers...    ₹399
2   URBANBOX  Casual Sneaker Shoes for Men | Classic Rounded...    ₹299
3   RED TAPE  Casual Sneakers Shoes for Men | Soft Cushioned...  ₹1,649
4   RED TAPE                                   Sneakers For Men  ₹1,769
..       ...                                                ...     ...
95  RapidBox                             DAVID Sneakers For Men  ₹1,458
96      PUMA  Comfortable Outdoor,Casual, walking, Training,...  ₹1,299
97    Combit  Comfortable Outdoor,Casual, walking, Training,...  ₹2,530
98      PUMA                 Ferrari Caven 2.0 Sneakers For Men  ₹1,977
99  RapidBox                     Puma Technner Sneakers For Men  ₹1,769

[100 rows x 3 columns]

In [98]:
#closing web page
driver.quit()

Q5: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU
Type filter to “Intel Core i7” as shown in the below image:
Aftersetting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [39]:
#importing require Liberary
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time

In [40]:
#choosing web driver
driver=webdriver.Chrome()

In [41]:
#getting web page
driver.get(' https://www.amazon.in/')

In [42]:
#searching for Laptop in search bar
product_input=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input' )
product_input.send_keys('Laptop')

In [43]:
#clicking on search bar
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [46]:
#applying filter
filter=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[18]/span/span[10]/li/span/a/div')
filter.click()

In [47]:
Creating empty lists for
title=[]
ratting=[]
price=[]

In [48]:
#scrapping title
title_tags=driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]')
for i in title_tags:
    head=i.text
    title.append(head)

In [49]:
len(title)

24

In [50]:
#Scrapping Prices
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags:
    priz=i.text
    price.append(priz)

In [51]:
len(price)

24

In [52]:
#creating Data Frame
dictionary_7={'Title':title,'Prices':price}
DF_7=pd.DataFrame(dictionary_7)

In [53]:
DF_7

                                                Title    Prices
0   Acer Aspire Lite 12th Gen Intel Core i7-1255U ...    54,990
1   Dell Inspiron 7420 2in1 Laptop, Intel Core i7-...    77,490
2   Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 1...    60,190
3   MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...    54,990
4   Dell Latitude 7480 14in FHD Laptop PC - Intel ...    27,999
5   ASUS Vivobook 15, IntelCore i7-12650H 12th Gen...    57,990
6   HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...    63,990
7   Acer Travelmate Business Laptop Intel Core i7-...    47,990
8   ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...    72,990
9   HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...    77,700
10  HP Victus Gaming Laptop, 12th Gen Intel Core i...    79,990
11  HP Pavilion 15, 13th Gen Intel Core i7-1360P, ...    86,285
12  Samsung Galaxy Book3 Core i7 13th Gen 1355U - ...    69,899
13  HP Spectre X360 13Th Gen Intel Core I7-13.5" 3...  1,45,490
14  Lenovo ThinkBook 15 Intel 12th Gen Core i7 15....    57,990
15  HP OMEN Gaming Laptop, Intel Core i7-14700HX (...  1,38,990
16  Dell G15 5530 Gaming Laptop, Intel i7-13650HX/...    99,970
17  [Smart Choice] ASUS ROG Strix G16, 16"(40.64cm...  1,34,990
18  Acer Nitro V Gaming Laptop 13th Gen Intel Core...    94,990
19  ASUS Creator Series Vivobook 14X OLED (2023), ...    81,990
20  Lenovo IdeaPad Slim 5 Intel Core i7 13700H 16"...    89,190
21  ASUS TUF Gaming F15 (2023) Gaming Laptop, 90WH...  1,04,990
22  (Refurbished) Dell Latitude 14 7400 14" Notebo...    29,989
23  Dell Inspiron 5430 Laptop, 13th Gen Intel Core...    84,999

Q6: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuote
3. Than scrap a)Quote b) Author c) Type Of Quotes

In [151]:
#importing require Liberary
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time

In [152]:
#choosing web driver
driver=webdriver.Chrome()

In [153]:
#getting web page
driver.get('https://www.azquotes.com/')

In [157]:
#clicking on main menue
main_menue=driver.find_element(By.XPATH,'//div[@class="mainmenu"]/a')
main_menue.click()

In [159]:
#clicking on top quotes
top_quote=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quote.click()

In [161]:
# Scrapping Quotes from webpage
quote=[]
quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tags:
    q=i.text
    quote.append(q)

In [163]:
len(quote)

100

In [164]:
# Scrapping Authors of the Quotes from webpage
authors=[]
auther_tags=driver.find_elements(By.XPATH,'//div[@class="author"]/a')
for i in auther_tags:
    author=i.text
    authors.append(author)

In [167]:
len(authors)

100

In [168]:
# Scrapping Type of Quotes from webpage
type_quotes=[]
type_quote_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in type_quote_tags:
    type_quote=i.text
    type_quotes.append(type_quote)

In [170]:
len(type_quotes)

100

In [171]:
#creating data frame
dictionary_5={'Quotes':quote,'Authors':authors,'Type of quotes':type_quotes}
DF_5=pd.DataFrame(dictionary_5)

In [172]:
DF_5

,Quotes,Authors,Type of quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

Q8: Write a python program to display list of 50 Most expensive cars in the world
(i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive carsin the world..
4. Then scrap thementioned data and make the dataframe

In [4]:
#importing require Liberary
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time

In [5]:
#choosing web driver
driver=webdriver.Chrome()

In [6]:
#getting web page
driver.get(' https://www.motor1.com/')

In [7]:
#entering 50 most expensive cars in search bar
searching=driver.find_element(By.XPATH,'/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/input')
searching.send_keys('50 most expensive cars')

In [9]:
#clicking on search buttons
clicking=driver.find_element(By.XPATH,'/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
clicking.click()

In [10]:
#clicking on 50 most expensive cars
clicking_50=driver.find_element(By.XPATH,'/html/body/div[9]/div[9]/div/div[1]/div/div/div[1]/div/div[1]/h3/a')
clicking_50.click()

In [17]:
#scrapping top 50 expensive cars
top_50_cars=[]
car_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car_tags:
    car=i.text
    top_50_cars.append(car)

In [34]:
expensive_cars=(top_50_cars)[0:50]

In [24]:
#scrapping prices
prices=[]
price_tags=driver.find_elements(By.XPATH,'//p[strong]')
for i in price_tags:
    price=i.text
    prices.append(price)

In [30]:
len(prices)

50

In [35]:
#creating Data frame
dictionary_6={'50 most expensive cars':expensive_cars,'Prices':prices}
DF_6=pd.DataFrame(dictionary_6)

In [36]:
DF_6

                50 most expensive cars                       Prices
0                  Aston Martin Valour          Price: $1.5 Million
1                         McLaren Elva          Price: $1.7 Million
2                          Czinger 21C          Price: $1.7 Million
3                        Ferrari Monza          Price: $1.7 Million
4                   Gordon Murray T.33          Price: $1.7 Million
5                    Koenigsegg Gemera          Price: $1.7 Million
6                          Zenvo TSR-S          Price: $1.7 Million
7                   Hennessey Venom F5          Price: $1.8 Million
8                      Bentley Bacalar          Price: $1.9 Million
9        Hispano Suiza Carmen Boulogne          Price: $1.9 Million
10              Bentley Mulliner Batur          Price: $2.0 Million
11                        Deus Vayanne          Price: $2.0 Million
12                         SSC Tuatara          Price: $2.0 Million
13                         Lotus Evija          Price: $2.1 Million
14                 Aston Martin Vulcan          Price: $2.3 Million
15                          Delage D12          Price: $2.3 Million
16                 Ferrari Daytona SP3          Price: $2.3 Million
17                   McLaren Speedtail          Price: $2.3 Million
18                        Rimac Nevera          Price: $2.4 Million
19                       Pagani Utopia          Price: $2.5 Million
20                Pininfarina Battista          Price: $2.5 Million
21                  Gordon Murray T.50          Price: $2.6 Million
22                Lamborghini Countach          Price: $2.6 Million
23            Mercedes-AMG Project One          Price: $2.7 Million
24                        Zenvo Aurora          Price: $2.8 Million
25                 Aston Martin Victor          Price: $3.0 Million
26         Hennessey Venom F5 Roadster                 $3.0 Million
27                    Koenigsegg Jesko          Price: $3.0 Million
28               Aston Martin Valkyrie          Price: $3.2 Million
29           W Motors Lykan Hypersport          Price: $3.4 Million
30                       McLaren Solus                 $3.5 Million
31                    Lamborghini Sian          Price: $3.6 million
32                    Koenigsegg CC850          Price: $3.7 Million
33     Bugatti Chiron Super Sport 300+          Price: $3.9 Million
34                  Lamborghini Veneno          Price: $4.5 Million
35                      Bugatti Bolide          Price: $4.7 Million
36           Pininfarina B95 Speedster          Price: $4.8 Million
37                     Bugatti Mistral          Price: $5.0 Million
38                 Pagani Huayra Imola          Price: $5.4 Million
39                        Bugatti Divo          Price: $5.8 Million
40                 SP Automotive Chaos          Price: $6.4 Million
41                    Pagani Codalunga          Price: $7.4 Million
42                        777 Hypercar          Price: $7.5 Million
43            Mercedes-Maybach Exelero          Price: $8.0 Million
44                  Bugatti Centodieci          Price: $9.0 Million
45             Bugatti Chiron Profilée         Price: $10.8 Million
46                Rolls-Royce Sweptail         Price: $12.8 Million
47            Bugatti La Voiture Noire         Price: $13.4 Million
48              Rolls-Royce Boat Tail*  Price: $28.0 Million (est.)
49  Rolls-Royce La Rose Noire Droptail    Price: $30 Million (est.)